body {
  background-color: #3795BD;
  font-family: Arial, sans-serif;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.container {
  max-width: 600px;
  margin: 10px;
  background-color: #3A1078;
  border-radius: 16px;
  border: 2px solid #000000;
  padding: 20px;
  padding-bottom: 30px;
  position: relative;

}


h1 {
  font-size: 48px;
  font-weight: bold;
  color: #00b3ff;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  text-shadow: 3px 3px #000;
}

h3 {
  font-size: 26px;
  line-height: 30px;
  font-weight: bold;
  color: #a880ff;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 20px;
  text-shadow: 3px 3px #000;
}

h2 {
  font-size: 36px;
  font-weight: bold;
  color: #4e74de;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 16px;
  text-shadow: 2px 2px #000;
}



button {
  display: flex;
  margin: 16px auto;
  font-size: 24px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #2F58CD;
  border: none;
  border-radius: 8px;
  padding: 16px;
  cursor: pointer;
  transition: background-color 1s, box-shadow 1s;
  box-shadow: 0px 4px 0px #27497f;
}

button:hover {
  background-color: #3795BD;
  box-shadow: 0px 4px 0px #2b6992;
}

button.selected {
  background-color: #ff0000b8;
  transition: background-color 0.4s, box-shadow 0.4s;
  box-shadow: 0px 4px 0px #970202;
}


form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 32px;
}

input[type="text"] {
  font-size: 24px;
  color: #3A1078;
  border: none;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  width: 100%;
  max-width: 400px;
  text-align: center;
}

input[type="text"]::placeholder {
  color: #CCCCCC;
}

button[type="submit"] {
  font-size: 24px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #4E31AA;
  border: none;
  border-radius: 8px;
  padding: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
}

button[type="submit"]:hover {
  background-color: #55BDDD;
}

.start-button {
  font-size: 24px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #4E31AA;
  border: none;
  border-radius: 8px;
  padding: 16px;
  cursor: pointer;
  transition: background-color 2s, box-shadow 2s, color 4s; /* add transition to box-shadow */
  box-shadow: 0px 4px 0px #0000070d;
}

.start-button:hover {
  background-color: #32ba56c4;
  box-shadow: 0px 4px 0px #00000057;
  color: #000;
  
}



.my-alert {
  background-color: #3795BD;
  color: #000;
  border: 1px solid #000;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
  margin-top: 15px;
  font-weight: 600;
  font-size: 20px;
  width: fit-content;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}


p {
  font-size: 28px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #2F58CD;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 0;
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
  width: 400px;
}

.high-scores {
  max-width: 600px;
  margin: 10px;
  background-color: #3A1078;
  border-radius: 16px;
  border: 2px solid #000000;
  padding: 20px;
  padding-bottom: 30px;
  position: relative;
}


h5 { 
  font-size: 22px;
  line-height: 30px;
  font-weight: bold;
  color: #4e74de;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  text-shadow: 3px 3px #000;
}

h6 {
  font-size: 32px;
  font-weight: bold;
  color: #a880ff;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 16px;
  text-shadow: 2px 2px #000;
}


.high-scores p {
  width:auto;
  margin: 5px 10px;
  font-size: 18px;
  color: #000 ;
}


.hard-mode {
  display: inline-block;
  position: absolute;
  bottom: 50px;
  left: 35px;
  font-weight: 500;
  margin: 0px 0;
  padding: 5px 5px;
  background-color: #2F58CD;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
}

 

.hard-mode input[type="checkbox"] {
  position: absolute;
  left: -9999px;
}

.hard-mode label {
  display: inline-block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

.hard-mode label:before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 3px;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
}

.hard-mode input[type="checkbox"]:checked + label:before {
  background-color: rgba(255, 0, 0, 0.8);
}

.hard-mode label:after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 5px;
  top: 5px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.2s ease-in-out;
}

.hard-mode input[type="checkbox"]:checked + label:after {
  left: 6px;
  top: 6px;
  background-color: rgba(0, 0, 0, 0.8);
}